<div class="page-title">
    <h1>CONTACT US</h1>
</div>
<form method="post" id="contactForm" action="<?php echo Mage::getUrl('hello/index/save') ?>">
    <div class="fieldset">
        <p class="required">
            Required Fields
        </p>
        <ul class="form-list">
            <li class="fields">
                <div class="field">
                    <label for="name" class="required">
                        <em>*</em>Name
                    </label>
                    <div class="input-box">
                        <input id="inputName" name="name" type="text" class="input-text"/>
                        <div class="validate-advice no-display" id="advice-required-entry-name">Este é um campo obrigatório!</div>
                    </div>
                </div>
                <div class="field">
                    <label for="email" class="required">
                        <em>*</em>Email
                    </label>
                    <div class="input-box">
                        <input id="inputEmail" name="email" type="text" class="input-text"/>
                        <div class="validate-advice no-display" id="advice-required-entry-email">Este é um campo obrigatório!</div>
                    </div>
                </div>
                <div class="field">
                    <label for="telephone">
                        Telephone
                    </label>
                    <div class="input-box">
                        <input id="inputTelephone" name="telephone" type="tel" class="input-text"/>

                    </div>
                </div>
                <div class="field">
                    <label for="comment" class="required">
                        <em>*</em>Comment
                    </label>
                    <div class="input-box">
                        <textarea name="comment" id="comment" class="required-entry input-text" cols="5"
                              rows="3"></textarea>
                        <div class="validate-advice no-display" id="advice-required-entry-comment">Este é um campo obrigatório!</div>
                    </div>
                </div>

            </li>
        </ul>
    </div>
    <div class="button-set">
        <button type="submit" class="button" id="buttonSubmit" title="Submit"> <span><span>Submit</span></span></button>
    </div>
</form>
<script type="text/javascript" >

    $j("#contactForm").on('submit', function(event){
        event.preventDefault();

        var name = $j("#inputName").val();
        var email = $j("#inputEmail").val();
        var telephone = $j("#inputTelephone").val();
        var comment = $j("#comment").val();

        if(!name) {
            $j("#advice-required-entry-name").removeClass("no-display");
        }
        if(!email) {
            $j("#advice-required-entry-email").removeClass("no-display");
        }
        if(!comment) {
            $j("#advice-required-entry-comment").removeClass("no-display");
        }
    })
</script>